// =====THEME=====
// Colors
$theme-colors: (
    "primary": #D60D44,
    "secondary": #AA8F66,
    "dark": #2D2D37,
    "medium": #afafaf,
    "semi-dark": #777,
    "light": #f0f0f0,
);

// Variables
$clr-primary : #D60D44;
$clr-secondary: #AA8F66;
$clr-dark: #2D2D37;
$clr-medium: #afafaf;
$clr-semi-dark: #777;
$clr-light: #E1E1DC;

@import "./../../../node_modules/bootstrap/scss/bootstrap";

// =====DEFAULTS=====
$radius: 0px;


// =====MIXINS=====
@mixin center() {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

@mixin transition($sec) {
    transition: $sec + s;
    animation-timing-function: ease-in;
}

// =====CUSTOM STYLES=====
body {
    background-color: $clr-dark;
    width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
}

html {
    width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
}

#root {
    position: relative;
    min-height: 100vh;
    padding-bottom: 70px;
}

.btn {
    border-radius: 0px;
}

.card {
    border-radius: 0px;
}

.form-control {
    border-radius: 0px;
}

.icon--xl {
    font-size: 7rem;
}

.alert {
    margin-bottom: 0px;
}


// Alignments
.center {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

// === PAGES ===

// HOME
.hero {
    height: 100vh;
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.4), 
            rgba(0, 0, 0, 0.4)
        ),
      url("./../images/home-main-2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero--copy {
    position: absolute;
    transform: translateY(-50%);
    transform: translateX(-50%);
    top: 45%;
    left: 50%;
    text-shadow: 3px 3px 5px rgba($color: #000000, $alpha: 0.75);
}

.hero-container {
    position: relative;
}

.about {
    position: relative;
    min-height: 400px;
}

.about__image {
    background-image: url("./../images/about.jpg");
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

.about__details {
    width: 75%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

// WORKSTATIONS
.workstations__hero {
    height: 100vh;
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.2), 
            rgba(0, 0, 0, 0.2)
        ),
      url("./../images/workstations-2.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


// USER
.hero-container.user {
    height: 75vh;
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.2), 
            rgba(0, 0, 0, 0.2)
        ),
      url("./../images/user-1.jpg");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

.container.user {
    padding-top: 60px;
}


// ============


// NAVBAR
.navbar-container {
    background-color: $clr-dark;
    position: absolute;
    margin: 0 auto;
    width: 100vw;
    z-index: 1
}

.footer {
    position: absolute;
    bottom: 0%;
    height: 70px;
}


// WorkstationList
.booking-form--container {
    top: 0px;
    position: sticky;
    z-index: 3;
}

.workstation {
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-color: $clr-primary;
}

.workstation:hover .workstation__img {
    opacity: .4;
    filter: saturate(0);
    transform: scale(1.05);
    @include transition(1);
}

.workstation:hover .workstation__details {
    opacity: 1;
    transition: 1.5s;
    animation-timing-function: ease-in;
}

.workstation__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.workstation__details {
    opacity: 0;
    @include center();
    width: 80%;
}

.workstations__blank {
    background-color: $clr-semi-dark;
}

.workstations__blank:hover {
    background-color: $clr-primary;
    @include transition(1);
}

.workstations__more {
    @include center();
    color: $clr-light;
    text-align: center;
}

.workstation__icon {
    font-size: 5rem;
}

.workstation__tile.selected {
    box-shadow: 0px 0px 10px 5px rgba($clr-primary, .75);
    z-index: 1;

    .workstation__details {
        opacity: 1;
    }

    .workstation__img {
        opacity: .3;
        filter: saturate(0);
        transform: scale(1.05);
        @include transition(1);
    }
}

// LOGIN
.login {
    @include center();
}

// ADMIN PANEL
.admin-panel {
    padding-top: 60px;
}

.register {
    margin: 0 auto;
    margin-top: 60px;
}

.admin__header {
    border-bottom: 10px solid $clr-medium;
}

// ===== MEDIA QUERIES =====
.workstation__list {
        height: 100%;
        overflow: hidden;
    }

    .workstation__tile {
        width: 100vw;
        height: 100vw;
        position: relative;
    }

@media only screen and (min-width: 576px) {
    .workstation__tile {
        width: 50vw;
        height: 50vw;
        position: relative;
    }

    .register {
        margin-top: 175px;
    }
}

@media only screen and (min-width: 992px) {
    .workstationlist {
        height: 66.66vw;
        overflow: hidden;
    }

    .navbar-container {
        background: none;
    }

    .workstation__tile {
        width: 33.33vw;
        height: 33.33vw;
        position: relative;
    }

    .workstation__tile.md {
        width: 66.66vw;
    }

    .workstation__tile.lg {
        width: 100vw;
    }
};
